body {
  font-size: 16px;
  color: #557c3e;
  background-color: #fefacc;
  font-family: 'Bookman Old Style', sans-serif;
}

div {
  margin-top: 0;
  margin-bottom: 0;
  }


/** HEADER **/
#header-nav {
  background-color: #f1a5a5;
  border-radius: 0;
  border: 0;
  margin-bottom:0;  
}



.navbar-brand {
  padding-top: 10px;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  padding-left:15px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}



#nav-list {
  margin-top: 0px;
  margin-bottom:0;  
  color:#557c3e;
}
#nav-list a {
  color:#557c3e;
  text-align: center;
}
#nav-list a:hover {
  background: #9ea2a5;
  font-style:oblique ; 
}
#nav-list a span {
  font-size: 1.8em;
}

#main-content {
  height:1000px;
  padding-left:15px;
  padding-right:15px;  
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
  background-color: #f1a5a5;
}
.navbar-header button.navbar-toggle {
     padding-top: 10px;
}
/* END HEADER */

#footerdiv {
  margin-top:10px; 
  padding-top:5px; 
  padding-bottom:5px; 
  background-color: #f1a5a5;
  border-radius: 0;
  border: 0;
  font-style:oblique ; 
  font-size:0.8em; 
}


/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 70px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav {
  border:none;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom:0; 
  background-color: #eee9e9;
  color: #951c49; 
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

 
 

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  

}

